#contentArea {
    padding-left: 2rem;
}

.unselectable {
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
}

.pointer {
    cursor: pointer;
}

::highlight(persist) {
    /* background-color: var(--color-selection); */
    background-color: pink;
    color: var(--color-selection-text);
}

::selection {
    background-color: var(--color-selection);
    color: var(--color-selection-text);
}

::-moz-selection {
    background-color: var(--color-selection);
    color: var(--color-selection-text);
}

.katex {
    font-size: 1rem;
}

p code {
    background-color: #cccccc7a;
    padding: 0 3px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.code-block pre code {
    display: block;
    background-color: var(--color-code-block-background);
    overflow-x: auto; 
    padding: 0;
    outline: none;
    border: none;
    font-family: var(--font-monospace);
    font-size: 0.875rem;
    line-height: 1.5;

    white-space: pre;
}


.code-block pre {
    padding: 1rem;
    border: 1px solid #E5E5E5;
    background-color: #F9F9F9;
    border-radius: var(--radius-sm);
}

.todo-list {
    padding-left: 0;
}