#contentArea {
    outline: none;
}

.placeholder {
    position: relative;
}

.placeholder::before {
    content: attr(data-placeholder);
    position: absolute;
    top: 0;
    left: 0;
    color: var(--color-text-placeholder);
    pointer-events: none;
    visibility: hidden;
}

.placeholder.empty::before {
    visibility: visible;
}

p.placeholder.empty::before {
    visibility: hidden;
}

p.placeholder.empty:hover::before,
p.placeholder.empty:focus::before,
p.placeholder.empty:focus-within::before,
p.placeholder.empty.has-caret::before {
    visibility: visible;
}

table {
    border-collapse:collapse;
}

th,
td {
    border: 1px solid var(--color-text);
    text-align: left;
    vertical-align: top;
    padding: .375rem .625rem;
    outline: none;
}

th {

    font-weight: bold;
}

td {
    min-width: 7.5rem;
    max-width: 15rem;
    height: 1rem;
}

th, td {
  border: 1px solid var(--color-text);
  outline: none;
}

td:focus-visible, th:focus-visible {
  outline: none;
  box-shadow: inset 0 0 0 2px var(--color-selection);
}

.todo-list {
    list-style: none;
}

.todo-list li span {
    outline: none;
}