#contentArea {
    outline: none;
}

.placeholder {
    position: relative;
}

.placeholder::before {
    content: attr(data-placeholder);
    position: absolute;
    top: 0;
    left: 0;
    color: #9ca3af;
    pointer-events: none;
    visibility: hidden;
}

.placeholder.empty::before {
    visibility: visible;
}

table {
    border-collapse: collapse;
}

th,
td {
    border: 1px solid rgb(233, 233, 231);
    text-align: left;
    vertical-align: top;
    padding: .375rem .625rem;
}

th {

    font-weight: bold;
}

td {
    min-width: 7.5rem;
    max-width: 15rem;
    height: 1rem;
}

.todo-list {
    list-style: none;
}

.todo-list li span {
    outline: none;
}